/* start global rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #2c4755;
  --secondry-color: #2c4755;
  --section-padding: 60px;
  --section-backgrpund: #f6f6f6;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.red {
  background-color: red;
}

.button {
  padding: 20px;
  border-radius: 10px;
  background: hsl(39, 100%, 50%);
  box-shadow: 5px 10px 30px hsla(39, 100%, 50%, 0.3);
  margin-top: 20px;
  transition: 0.4s ease-in-out;
  outline: none;
  font-size: 20px;
  color: #fff;
  transition: transform 0.3s ease;
}
.button span {
  color: #fff;
  font-size: 20px;
}
.button:hover {
  transform: translateY(-5px);
}

/* navabar  */

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navbar-nav {
  color: red;
}
/*hdgf  */

.shapters .chapter-section-heading {
  padding-bottom: 40px;
}
.shapters .chapter-section-heading p {
  text-align: center;
  font-size: 35px;
}
.shapters .chapter-section-heading h2 {
}

/* start components */
.special-heading {
  text-align: center;
  color: hsl(203, 30%, 26%);
  font-size: 40px;

  color: hsl(357, 37%, 62%);

  padding-bottom: 50px;
  /* padding-top: 150px;  */
}

.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  text-align: center;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 50px;
  }

  .special-heading + p {
    margin-top: -20px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 922px) {
  .container {
    width: 950px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 550px;
  }
}

/* end global rules */

/* .hero-section */
.hero-section {
  background-color: hsl(38, 100%, 98%);
}
.hero-section .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.hero-section-main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 100px;
  padding-top: 100px;
}
.hero-section-main-content .hero-section-content {
  max-width: 500px;
}
.hero-section .hero-section-content h3 {
  color: hsl(357, 37%, 62%);
  font-size: 20px;
}

.hero-section .hero-section-content h1 {
  color: hsl(203, 30%, 26%);
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero-section .hero-section-content p {
  color: hsl(203, 30%, 26%);
  line-height: 1.2;
  font-size: 22px;
  margin-top: 20px;
}

.hero-section-image {
  padding-right: 30px;
}
.hero-section-image img {
  height: 500px;
  width: 350px;
  border-radius: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-section {
  }
  .hero-section .container {
  }

  .hero-section-main-content {
  }

  .hero-section-main-content .hero-section-content {
  }
  .hero-section .hero-section-content h3 {
    font-size: 30px;
  }

  .hero-section .hero-section-content h1 {
    font-size: 40px;
  }

  .hero-section .hero-section-content p {
  }

  .hero-section-image {
    margin-top: 20px;
    display: none;
  }

  .hero-section-image img {
    width: 350px;
    height: 450px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .hero-section {
    margin: auto;
    padding-left: 50px;
  }
  .hero-section .container {
  }

  .hero-section-main-content {
  }

  .hero-section-main-content .hero-section-content {
    padding-top: 50px;
  }
  .hero-section .hero-section-content h3 {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .hero-section .hero-section-content h1 {
    font-size: 40px;
  }

  .hero-section .hero-section-content p {
    font-size: 30px;
    line-height: 1.3;
  }

  .hero-section-image {
    margin-top: 20px;
    display: none;
  }

  .hero-section-image img {
    width: 350px;
    height: 450px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .hero-section {
    margin: auto;
    padding-left: 50px;
  }
  .hero-section .container {
    display: flex;
  }

  .hero-section-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .hero-section-main-content .hero-section-content {
    padding-top: 50px;
    max-width: 450px;
    padding-right: 20px;
  }
  .hero-section .hero-section-content h3 {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .hero-section .hero-section-content h1 {
    font-size: 40px;
  }

  .hero-section .hero-section-content p {
    font-size: 30px;
    line-height: 1.3;
  }

  .hero-section-image {
    margin-top: 20px;
  }

  .hero-section-image img {
    width: 400px;
    height: 400px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* ./hero section */

/* main section */
.main-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 100px;
  background-color: hsl(20, 43%, 93%);
  padding-bottom: 70px;
}
.main-section .container {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.main-section .main-section-title {
  margin-bottom: 1.5rem;
}

.main-section .card {
  width: 350px;
  height: 620px;

  margin: auto;
}
.main-section .card .card-body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.main-section .card .card-body .card-title {
  font-size: 27px;
  margin-bottom: 10px;
}

.main-section .card .card-body .card-text {
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .main-section {
    align-content: center;
    flex-direction: column;
  }

  .main-section .card {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .main-section {
    align-content: center;
    flex-direction: column;
    flex: calc(2, auto);
  }
  .main-section .main-section-title {
    margin-top: 1rem;
  }
  .main-section .card {
    margin-bottom: 27px;
  }
}
/* ./main-section */

/* eductaion-section  */
.education-section {
  background-color: rgba(248, 248, 248, 0.904);
  padding-top: 50px;
  padding-bottom: 50px;
}

.education-section .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}
.education-section-container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-direction: row;
}

.education-section-container-content .education-section-content1 {
  max-width: 50%;
}

.education-section-container-content .education-section-content1 h2 {
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.education-section-container-content .education-section-content1 p {
  color: hsl(240, 3%, 45%);
  font-size: 20px;
}

.education-section-container-content .education-section-content1 button {
  padding: 20px;
  border-radius: 10px;
  background: hsl(39, 100%, 50%);
  box-shadow: 5px 10px 30px hsla(39, 100%, 50%, 0.3);
  margin-top: 20px;
  transition: 0.2s ease-in-out;
  outline: none;
}
.education-section-container-content .education-section-content1 button:hover {
  scale: 1.1;
}
.education-section-container-content .education-section-content2 {
  padding: 20px;
  transition: 0.2s ease-in-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .education-section {
    margin: auto;
    padding-bottom: 30px;
  }

  .education-section .container {
  }
  .education-section-container-content {
  }

  .education-section-container-content .education-section-content1 {
    min-width: 95%;
  }

  .education-section-container-content .education-section-content1 h2 {
  }

  .education-section-container-content .education-section-content1 p {
  }

  .education-section-container-content .education-section-content1 button {
  }
  .education-section-container-content
    .education-section-container-content
    .education-section-content2 {
    display: none;
  }
}

/* ./ eductaion-section  */

/* start features */
.question {
  color: #7e7a7a;
  text-align: center;
}

.features {
  padding: var(--section-padding);
  /* background-color: var(--section-backgrpund); */
  background-color: hsl(38, 100%, 98%);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
  grid-gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.features .container .feat {
  padding: 10px;
  text-align: center;
  margin-top: 15px;
}
.features .container .feat a {
  color: var(--main-color);
  font-size: 40px;
}
.features .container .feat a i {
  color: var(--main-color);
  font-size: 50px;
  padding-bottom: 20px;
}
.features .container h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .container p {
  line-height: 1.7;
  color: #777;
  font-size: 17px;
}
/* end features */

/* start-portfolio*/
.portifolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-backgrpund);
}
.portifolio .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}
.portifolio .container .potifolio-content {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(292px, 1fr)); */

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 80px;
}
@media (max-width: 991px) {
  .portifolio .container .potifolio-content {
    display: block;
  }
}
.portifolio .container .potifolio-content .card {
  background-color: white;
}
.portifolio .container .potifolio-content .card img {
  width: 100%;
  margin-bottom: 20px;
}
.portifolio .container .potifolio-content .card .info {
  padding: 20px;
}
.portifolio .container .potifolio-content .card .info h3 {
  margin-bottom: 10px;
}
.portifolio .container .potifolio-content .card .info p {
  color: #777;
  line-height: 1.8;
  margin: 0;
  font-size: 17px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .portifolio .container .potifolio-content .card {
    margin-bottom: 30px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .portifolio {
  }
  .portifolio .container .potifolio-content {
  }

  .portifolio .container .potifolio-content .card {
    margin-bottom: 40px;
    padding: 10px;
  }
  .portifolio .container .potifolio-content .card img {
  }
  .portifolio .container .potifolio-content .card .info {
  }
  .portifolio .container .potifolio-content .card .info h3 {
  }
  .portifolio .container .potifolio-content .card .info p {
    font-size: 20px;
  }
}

/* end-portefolio */

/* shapters-section */

.shapters {
  background-color: hsl(20, 43%, 93%);
  padding-top: 100px;

  padding-bottom: 100px;
}

.shapters .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.shapters .chapter-section-heading {
  padding-bottom: 40px;
}
.shapters .chapter-section-heading p {
  text-align: center;
  font-size: 35px;
  color: hsl(357, 37%, 62%);
}
.shapters .chapter-section-heading h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.chapter-section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin: auto;
}
.card-book {
  width: 320px;
  height: 230px;
  background-color: #f6f6f6;
  border-radius: 10px;
  transition: 0.5s;
}
.card-book:hover {
  scale: 1.1;
}
.card-book .card-book-content {
  padding: 15px;
}

.card-book .title {
  font-size: 18px;
  color: hsl(357, 37%, 62%);
  padding-top: 5px;
}

.card-book h3 {
  font-size: 20px;
  margin-left: 7px;
  color: hsl(203, 30%, 26%);
}

.card-book .desription {
  line-height: 1.3;
  font-size: 18px;
  padding-top: 10px;
  color: hsl(0, 0%, 42%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .shapters {
  }

  .shapters .chapter-section-heading {
  }
  .shapters .chapter-section-heading p {
  }
  .shapters .chapter-section-heading h2 {
  }

  .chapter-section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card-book {
    width: 290px;
    height: 230px;
    background-color: #f6f6f6;
    border-radius: 10px;
    transition: 0.5s;
  }

  .card-book:hover {
  }
  .card-book .card-book-content {
  }

  .card-book .title {
  }

  .card-book h3 {
  }

  .card-book .desription {
  }
}

/* Human Capital */

.Mamgna {
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
}
.Mamgna .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.Mamgna .Mamgna-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.Mamgna .Mamgna-items .learn {
  margin-right: 40px;
  flex-basis: 330px;
  flex-grow: 2;
  padding-left: 20px;
}

.Mamgna .Mamgna-items .learn h3 {
  font-size: 25px;
  opacity: 0.6;
  padding-bottom: 15px;
}

.Mamgna .Mamgna-items .learn p {
  line-height: 2;
  color: #4d4d4d;
}

.Mamgna .Mamgna-items .Json {
  flex-grow: 4;
  line-height: 1.4;
  margin-left: 40px;
  position: relative;
  visibility: hidden;
  padding-left: 100px;
}

.Mamgna .Mamgna-items .Json p {
  opacity: 0.8;
  font-size: 18px;
}

.Mamgna .Mamgna-items .Json p i {
  padding: 8px;
  color: rgb(53, 54, 53);
  font-size: 18px;
}

.Mamgna .Mamgna-items .Json::before {
  content: "";
  height: 250px;
  width: 2px;
  background-color: #ddd;
  position: absolute;
  left: -30px;
  margin-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Mamgna {
  }
  .Mamgna .container {
  }

  .Mamgna .Mamgna-items {
  }

  .Mamgna .Mamgna-items .learn {
    min-width: 100%;
  }

  .Mamgna .Mamgna-items .learn h3 {
  }

  .Mamgna .Mamgna-items .learn p {
  }

  .Mamgna .Mamgna-items .Json {
    padding-top: 20px;
    min-width: 100%;
  }

  .Mamgna .Mamgna-items .Json p {
    min-width: 100%;
  }

  .Mamgna .Mamgna-items .Json p i {
  }

  .Mamgna .Mamgna-items .Json::before {
    content: "";
    height: 250px;
    width: 2px;
    background-color: #ddd;
    position: absolute;
    left: -30px;
    margin-top: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .Mamgna {
  }

  .Mamgna .container {
  }

  .Mamgna .Mamgna-items {
  }

  .Mamgna .Mamgna-items .learn {
    min-width: 100%;
  }

  .Mamgna .Mamgna-items .learn h3 {
  }

  .Mamgna .Mamgna-items .learn p {
  }

  .Mamgna .Mamgna-items .Json {
    min-width: 100%;
    padding-top: 30px;
  }

  .Mamgna .Mamgna-items .Json p {
  }

  .Mamgna .Mamgna-items .Json p i {
  }

  .Mamgna .Mamgna-items .Json::before {
    margin-top: 10px;
    padding-top: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .Mamgna {
  }
  .Mamgna .container {
  }

  .Mamgna .Mamgna-items {
  }

  .Mamgna .Mamgna-items .learn {
    max-width: 270px;
  }

  .Mamgna .Mamgna-items .learn h3 {
  }

  .Mamgna .Mamgna-items .learn p {
    font-size: 16px;
  }

  .Mamgna .Mamgna-items .Json {
  }

  .Mamgna .Mamgna-items .Json p {
    font-size: 16px;
  }

  .Mamgna .Mamgna-items .Json p i {
  }

  .Mamgna .Mamgna-items .Json::before {
    content: "";
    height: 0px;
    width: 0px;
    background-color: #ddd;
    position: absolute;
    left: -30px;
    margin-top: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Mamgna {
  }
  .Mamgna .container {
  }

  .Mamgna .Mamgna-items {
  }

  .Mamgna .Mamgna-items .learn {
  }

  .Mamgna .Mamgna-items .learn h3 {
  }

  .Mamgna .Mamgna-items .learn p {
    font-size: 19px;
  }

  .Mamgna .Mamgna-items .Json {
  }

  .Mamgna .Mamgna-items .Json p {
  }

  .Mamgna .Mamgna-items .Json p i {
  }

  .Mamgna .Mamgna-items .Json::before {
  }
}

/* Human Capital */
/* Popular Departments */

.popular-departments {
  height: auto;
  background-color: hsl(38, 100%, 98%);
  padding-bottom: 80px;
  padding-top: 40px;
  margin: auto;
}
.popular-departments .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.popular-departments .container .popular-departments-heading {
  padding: 50px;
  text-align: center;
  font-size: 50px;
  max-width: 700px;
  font-weight: bold;
  margin: auto;
}

.popular-departments .container .popular-departments_items {
  padding-top: 40px;
  border-bottom: 1px solid #e5d8d8;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.popular-departments .container .popular-departments_items .div1 img {
  width: 300px;
  height: 300px;
  transition: 0.5s;
  border-radius: 15px;
}
.popular-departments .container .popular-departments_items .div1 img:hover {
  scale: 1.1;
}

.popular-departments .container .popular-departments_items .div2 h2 {
  font-size: 35px;
}

.popular-departments .container .popular-departments_items .div2 p {
  line-height: 2;
  opacity: 0.9;
  margin-top: 15px;
  font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .popular-departments {
  }
  .popular-departments .container {
  }

  .popular-departments .container .popular-departments-heading {
  }

  .popular-departments .container .popular-departments_items {
  }
  .popular-departments .container .popular-departments_items .div1 img {
    margin-left: 60px;
  }
  .popular-departments .container .popular-departments_items .div1 img:hover {
  }

  .popular-departments .container .popular-departments_items .div2 h2 {
  }

  .popular-departments .container .popular-departments_items .div2 p {
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}

/* FamousTeacherSecton */

.famous-teacher {
  padding-top: 100px;
  padding-bottom: 100px;
}
.famous-teacher .container {
  width: 85%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.famous-teacher .famous-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
.famous-teacher .famous-section-header h2 {
  font-size: 50px;
  font-weight: bold;
  width: 500px;
}
.famous-teacher .famous-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

.famous-teacher .famous-section-container .famous-section-content {
}

.famous-teacher .famous-section-container .famous-section-content img {
  width: 350px;
  height: 510px;
  padding-bottom: 30px;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  /* Move the image 20 pixels down on hover */
}
.famous-teacher .famous-section-container .famous-section-content img:hover {
  transform: translateY(-10px);
}

.famous-teacher .famous-section-container .famous-section-content h2 {
  font-size: 35px;
  font-weight: bold;
  margin-left: 50px;
  padding-left: 30px;
  cursor: pointer;
}

.famous-teacher .famous-section-container .famous-section-content p {
  text-transform: capitalize;
  color: #5f5d5d;
  font-size: 22px;
  margin-left: 50px;
  padding-left: 35px;
}

.famous-teacher
  .famous-section-container
  .famous-section-content
  .famous-teacher-icons {
  margin-left: 60px;
  padding-left: 20px;
  cursor: pointer;
}

.famous-teacher .famous-section-container .famous-section-content i {
  color: #5f5d5d;
  font-size: 20px;
  margin-left: 12px;
}
/* ./FamousTeacherSecton */

/* Footer */
.footer {
  height: 600px;
  padding-top: 100px;
  background-color: hsl(240, 13%, 8%);
}

.footer .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}
.footer-content .footer-flex-container {
  min-width: 170px;
  padding-bottom: 40px;
}
.footer-content .footer-flex-container h2 {
  font-size: 30px;
  color: #fff;
}

.footer-content .footer-flex-container p {
  color: #999797;
  font-size: 19px;
  margin-top: 20px;
  transition: 0.5s;
}

.footer-content .footer-flex-container p i {
  font-size: 25px;
  padding-right: 15px;
}

.footer-content .footer-flex-container p:hover {
  color: #fffdfd;
  cursor: pointer;
  scale: 1.1;
}

.horazintal-line {
  background-color: #4b4646;
}

.copy-right {
  /* padding: 10px; */
  line-height: 1.1;
}

.copy-right p {
  font-size: 23px;
  padding-top: 50px;
  color: #7e7a7a;
  text-align: center;
}

/* ./Footer */
