/* start global rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #2c4755;
  --secondry-color: #2c4755;
  --section-padding: 60px;
  --section-backgrpund: #f6f6f6;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.red {
  background-color: red;
}

.button {
  padding: 20px;
  border-radius: 10px;
  background: hsl(39, 100%, 50%);
  box-shadow: 5px 10px 30px hsla(39, 100%, 50%, 0.3);
  margin-top: 20px;
  transition: 0.4s ease-in-out;
  outline: none;
  font-size: 20px;
  color: #fff;
  transition: transform 0.3s ease;
}
.button span {
  color: #fff;
  font-size: 20px;
}
.button:hover {
  transform: translateY(-5px);
}

/* start components */
.special-heading {
  text-align: center;
  color: hsl(203, 30%, 26%);
  font-size: 40px;

  color: hsl(357, 37%, 62%);

  padding-bottom: 50px;
  /* padding-top: 150px;  */
}

.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  text-align: center;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 50px;
  }

  .special-heading + p {
    margin-top: -20px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

/* end global rules */

/* .hero-section */
.hero-section {
  background-color: hsl(38, 100%, 98%);
}
.hero-section .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.hero-section-main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 100px;
  padding-top: 100px;
}
.hero-section-main-content .hero-section-content {
  max-width: 500px;
}
.hero-section .hero-section-content h3 {
  color: hsl(357, 37%, 62%);
  font-size: 25px;
  margin-bottom: 25px;
}

.hero-section .hero-section-content h1 {
  color: hsl(203, 30%, 26%);
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 40px;
}

.hero-section .hero-section-content p {
  color: hsl(203, 30%, 26%);
  line-height: 1.2;
  font-size: 22px;
  margin-top: 20px;
  padding-right: 40px;
}

.hero-section-image {
  padding-right: 30px;
}
.hero-section-image img {
  height: 500px;
  width: 350px;
  border-radius: 20px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .hero-section-image {
    display: none;
  }
  .hero-section-main-content .hero-section-content {
    min-width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero-section-main-content .hero-section-content {
    width: 50%;
  }
  .hero-section-image img {
    width: 250px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero-section-image {
    padding-right: 30px;
  }
  .hero-section-image img {
    height: 500px;
    width: 350px;
    border-radius: 20px;
  }
}

/* ./hero section */

/* main section */
.main-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 100px;
  background-color: hsl(20, 43%, 93%);
  padding-bottom: 70px;
}

.main-section .container {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.main-section .main-section-title {
  margin-bottom: 1.5rem;
}

.main-section .main-section-title h2 {
  font-size: 40px;
}

.main-section .main-section-title p {
  font-size: 35px;
}
.main-section .main-section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-section .main-section-content .card {
  width: 350px;
  min-height: 550px;
  margin: auto;
  margin-bottom: 20px;
}
.main-section .main-section-content .card .card-body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.main-section .main-section-content .card .card-body .card-title {
  font-size: 21px;
  margin-bottom: 10px;
}

.main-section .main-section-content .card .card-body .card-text {
  font-size: 18px;
  padding-bottom: 30px;
}

/* ./main-section */

/* eductaion-section  */
.education-section {
  background-color: rgba(248, 248, 248, 0.904);
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

.education-section .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}
.education-section-container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-direction: row;
  padding-left: 50px;
}

.education-section-container-content .education-section-content1 {
  max-width: 50%;
}

.education-section-container-content .education-section-content1 h2 {
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.education-section-container-content .education-section-content1 p {
  color: hsl(240, 3%, 45%);
  font-size: 20px;
}

.education-section-container-content .education-section-content1 button {
  padding: 20px;
  border-radius: 10px;
  background: hsl(39, 100%, 50%);
  box-shadow: 5px 10px 30px hsla(39, 100%, 50%, 0.3);
  margin-top: 20px;
  transition: 0.2s ease-in-out;
  outline: none;
}
.education-section-container-content .education-section-content1 button:hover {
  scale: 1.1;
}
.education-section-container-content .education-section-content2 {
  padding: 20px;
  transition: 0.2s ease-in-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .education-section-container-content .education-section-content1 {
    max-width: 100%;
  }

  .education-section-container-content .education-section-content2 {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .education-section-container-content .education-section-content1 {
    max-width: 100%;
  }

  .education-section-container-content .education-section-content2 {
    display: none;
  }
}

/* ./ eductaion-section  */

/* start features */
.question {
  color: #7e7a7a;
  text-align: center;
}

.features {
  padding: var(--section-padding);
  /* background-color: var(--section-backgrpund); */
  background-color: hsl(38, 100%, 98%);
  margin: auto;
}
.features .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.features .container .feet-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  padding-right: 10px;
  margin: auto;
  padding-top: 50px;
}

.features .container .feat {
  padding: 10px;
  text-align: center;
  margin-top: 15px;
}

.features .container .feat a {
  color: var(--main-color);
  font-size: 40px;
}
.features .container .feat a i {
  color: var(--main-color);
  font-size: 50px;
  padding-bottom: 20px;
}
.features .container h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .container p {
  line-height: 1.7;
  color: #777;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .features .container {
    min-width: 100%;
  }
  .features .container .feet-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;

    margin: auto;
    padding-top: 50px;
  }

  .feat-card {
    width: 100%;
    margin-right: 30px;
  }
  .features .container .feet-cards .feat {
    width: 100%;
  }
}
/* end features */

/* start-portfolio*/
.portifolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-backgrpund);
}
.portifolio .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}
.portifolio .special-heading {
  font-size: 60px;
}
.portifolio .portifolio-desc {
  font-size: 30px;
}
.portifolio .container .potifolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 40px;
  margin-top: 80px;
}
.portifolio .container .potifolio-content .card {
  padding: 10px;
}
.portifolio .container .potifolio-content .card .info {
  padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .portifolio .special-heading {
    font-size: 40px;
  }
}

/* end-portefolio */

/* shapters-section */

.shapters {
  background-color: hsl(20, 43%, 93%);
  padding-top: 100px;

  padding-bottom: 100px;
}

.shapters .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.shapters .chapter-section-heading {
  padding-bottom: 40px;
}
.shapters .chapter-section-heading p {
  text-align: center;
  font-size: 35px;
  color: hsl(357, 37%, 62%);
}
.shapters .chapter-section-heading h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.chapter-section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
}
.card-book {
  width: 320px;
  background-color: #f6f6f6;
  border-radius: 10px;
  transition: 0.5s;
}
.card-book:hover {
  scale: 1.1;
}
.card-book .card-book-content {
  padding: 15px;
}

.card-book .title {
  font-size: 18px;
  color: hsl(357, 37%, 62%);
  padding-top: 5px;
}

.card-book h3 {
  font-size: 20px;
  margin-left: 7px;
  color: hsl(203, 30%, 26%);
}

.card-book .desription {
  line-height: 1.3;
  font-size: 18px;
  padding-top: 10px;
  color: hsl(0, 0%, 42%);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 880px) {
  .card-book {
    width: 300px;
  }
}
@media only screen and (max-width: 830px) {
  .card-book {
    width: 280px;
  }
}

@media only screen and (max-width: 780px) {
  .card-book {
    width: 270px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .card-book {
    width: 240px;
  }
}

@media only screen and (max-width: 675px) {
  .card-book {
    width: 100%;
  }

  .shapters .chapter-section-heading {
    padding-bottom: 40px;
  }
  .shapters .chapter-section-heading p {
    text-align: center;
    font-size: 30px;
    color: hsl(357, 37%, 62%);
  }
  .shapters .chapter-section-heading h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

/* ./shapters-section  */

/* Human Capital */

.Mamgna {
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
}
.Mamgna .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.Mamgna .Mamgna-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.Mamgna .Mamgna-items .learn {
  margin-right: 40px;
  flex-basis: 330px;
  flex-grow: 2;
  padding-left: 20px;
}

.Mamgna .Mamgna-items .learn h3 {
  font-size: 25px;
  opacity: 0.6;
  padding-bottom: 15px;
}

.Mamgna .Mamgna-items .learn p {
  line-height: 2;
  color: #4d4d4d;
}

.Mamgna .Mamgna-items .Json {
  flex-grow: 4;
  line-height: 1.4;

  position: relative;
  visibility: hidden;
}

.Mamgna .Mamgna-items .Json p {
  opacity: 0.8;
  font-size: 18px;
}

.Mamgna .Mamgna-items .Json p i {
  padding: 8px;
  color: rgb(53, 54, 53);
  font-size: 18px;
  padding-right: 10px;
}

.Mamgna .Mamgna-items .Json::before {
  content: "";
  height: 250px;
  width: 2px;
  background-color: #ddd;
  position: absolute;
  left: -30px;
  margin-top: 10px;
}

@media only screen and (max-width: 880px) {
  .Mamgna .Mamgna-items .Json::before {
    content: "";
    height: 0;
    width: 0;
  }
}

@media only screen and (max-width: 900px) {
  .Mamgna .Mamgna-items .Json {
    width: 100%;
    margin: 20px;
    padding-top: 20px;
  }
  .Mamgna .Mamgna-items .Json p i {
    margin-right: 10px;
  }

  .Mamgna .Mamgna-items .Json::before {
    content: "";
    height: 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Mamgna .Mamgna-items .Json {
    width: 100%;
    margin: 20px;
    padding-top: 30px;
  }
  .Mamgna .Mamgna-items .Json p i {
    margin-right: 10px;
  }

  .Mamgna .Mamgna-items .Json::before {
    content: "";
    height: 0;
  }
}

/* Human Capital */

/* Popular Departments */

.popular-departments {
  height: auto;
  background-color: hsl(38, 100%, 98%);
  padding-bottom: 80px;
  padding-top: 40px;
  margin: auto;
}
.popular-departments .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.popular-departments .container .popular-departments-heading {
  padding: 50px;
  text-align: center;
  font-size: 40px;
  max-width: 700px;
  font-weight: bold;
  margin: auto;
}

.popular-departments .container .popular-departments_items {
  padding-top: 40px;
  border-bottom: 1px solid #e5d8d8;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.popular-departments .container .popular-departments_items .div1 img {
  width: 300px;
  height: 300px;
  transition: 0.5s;
  border-radius: 15px;
}
.popular-departments .container .popular-departments_items .div1 img:hover {
  scale: 1.1;
}

.popular-departments .container .popular-departments_items .div2 h2 {
  font-size: 35px;
}

.popular-departments .container .popular-departments_items .div2 p {
  line-height: 2;
  opacity: 0.9;
  margin-top: 15px;
  font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .popular-departments .container .popular-departments-heading {
    font-size: 35px;
    padding: 10px;
  }
}

/* ./Popular Departments */

/* FamousTeacherSecton */

.famous-teacher {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.famous-teacher .container {
  width: 85%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.famous-teacher .famous-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
  flex-direction: row;
  flex-wrap: wrap;
}
.famous-teacher .famous-section-header h2 {
  font-size: 50px;
  font-weight: bold;
  width: 500px;
}
.famous-teacher .famous-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

.famous-teacher .famous-section-container .famous-section-content {
  margin: auto;
}

.famous-teacher .famous-section-container .famous-section-content img {
  width: 350px;
  height: 510px;
  padding-bottom: 30px;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  /* Move the image 20 pixels down on hover */
}
.famous-teacher .famous-section-container .famous-section-content img:hover {
  transform: translateY(-10px);
}

.famous-teacher .famous-section-container .famous-section-content h2 {
  font-size: 35px;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 30px;
  cursor: pointer;
}

.famous-teacher .famous-section-container .famous-section-content p {
  text-transform: capitalize;
  color: #5f5d5d;
  font-size: 22px;
  margin-left: 30px;
  padding-left: 35px;
}

.famous-teacher
  .famous-section-container
  .famous-section-content
  .famous-teacher-icons {
  margin-left: 60px;
  padding-left: 30px;
  cursor: pointer;
}

.famous-teacher .famous-section-container .famous-section-content i {
  color: #5f5d5d;
  font-size: 20px;
  padding: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .famous-teacher .famous-section-header h2 {
    margin-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 999px) {
  .famous-teacher .famous-section-container .famous-section-content img {
    width: 300px;
    width: 250px;
  }
}

/* ./FamousTeacherSecton */

/* Footer */
.footer {
  height: 100%;
  padding-top: 100px;
  background-color: hsl(240, 13%, 8%);
  padding-bottom: 70px;
}

.footer .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}
.footer-content .footer-flex-container {
  min-width: 170px;
  padding-bottom: 40px;
}
.footer-content .footer-flex-container h2 {
  font-size: 30px;
  color: #fff;
}

.footer-content .footer-flex-container p {
  color: #999797;
  font-size: 19px;
  margin-top: 20px;
  transition: 0.5s;
}

.footer-content .footer-flex-container p i {
  font-size: 25px;
  padding-right: 15px;
}

.footer-content .footer-flex-container p:hover {
  color: #fffdfd;
  cursor: pointer;
  scale: 1.1;
}

.horazintal-line {
  background-color: #4b4646;
}

.copy-right {
  /* padding: 10px; */
  line-height: 1.1;
}

.copy-right p {
  font-size: 23px;
  padding-top: 50px;
  color: #7e7a7a;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer {
    padding-bottom: 70px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .footer .container {
    width: 90%;
  }
  .footer-content .footer-flex-container {
    margin: auto;
  }
  .footer-content .footer-flex-container h2 {
    width: 100%;
  }

  .footer-content .footer-flex-container p {
    width: 100%;
  }

  .copy-right {
    line-height: 1.2;
  }

  .copy-right p {
    font-size: 20px;
  }
}

/* ./Footer */
